.buttons-container {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
padding-left: 10px;
}

.robotic-btn {
display: flex;
align-items: center;
justify-content: center;
padding: 10px 20px;
margin-bottom: 20px;
background-color: #333;
color: white;
font-size: 16px;
border: none;
border-radius: 30px;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
cursor: pointer;
transition: transform 0.3s ease;
}

.robotic-btn:hover {
transform: translateY(-5px);
}

#image-preview {
  max-width: 70vh;
  max-height: 50vh;
}
